/* NAVBAR */

.navBar {
  width: 100vw;
  margin-top: 0;
  background-color: rgb(98, 107, 202);
  color: white;
  font-size: 24px;
  padding: 5px;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navBar ul li {
  list-style: none;
  margin-right: 1em;
}

.navBar ul li:hover {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: underline;
}

.navBar ul li:active {
  background-color: green;
}

/* WELCOME SECTION */

.welcomeSection {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ef5f5f;
  padding: 1em;
}

.appointmentTable {
  border: 3px double rgb(72, 4, 84);
  background-color: #ead6d6;
  margin: 15px auto;
  padding: 1rem;
  color: rgb(4, 0, 3);
}

.appointmentTable th {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.appointmentTable td {
 padding: 10px;
 text-align:justify;
 text-transform: uppercase;
 text-shadow: 2rem;
}